@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

* {
  font-family: 'Coming Soon', cursive;
  color: white;
}

.button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}